body {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 14px;
    width: 1440px;
    margin: auto;
    color: #aaa;
    background-color: #222;
}

table	{
	border: 1px solid #777;
	border-collapse: collapse;
	padding: 0px 4px;
	width: 100%;
	position: relative;
}

tbody tr:hover {
	background-color: #444;
}

th[data-sorter] {
	cursor: pointer;
}

th	{
	position: sticky;
	top: 0px;
}

#gamestabdiv	{
	overflow-y: scroll;
	height:300px;
	width: 1100px;
	float: left;
}

#gamestabskipper	{
	height: 300px;
}

th,td {
    border: 1px solid #777;
    border-collapse: collapse;
    padding: 0px 4px;
}

#gamestab td {
	text-align: right;
}

#gamestab tbody tr {
	cursor: pointer;
}

#gamestab th {
	padding: 0px 10px;
	background-color: #444;
}

#gamestab th:nth-child(1)	{
	text-align: left;
	padding-left: 4px;
}
#gamestab td:nth-child(1)	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 350px;
	text-align: left;
}

#gamestab input[type="checkbox"]	{
	height: 12px;
}

#gamestab input[type="text"]	{
	height: 12px;
}

.floatleft	{
	float: left;
}

.seltab {
	float: left;
}

.seltab	th	{
	width: 100px;
}

.subseldiv	{
	float: left;
	padding-left: 20px;
	overflow-y: scroll;
	height:200px;
}

.subseldiv td:nth-child(2)	{
	text-align: right;
}

#country th,#languages th	{
	cursor: pointer;
	color: #ccc;
}

.subseldiv input {
	height: 12px;
}

svg	{
	width: 938px;
	height: 200px;
	background-color: #123;
}

.selheader	{
	padding-left: 50px;
	font-size: 16px;
	color: #ccc;
	background-color: #424;
}

.thadd th	{
	background-color: #272;
}

.thdel th	{
	background-color: #822;
}

.XAxis	{
}

.YAxis	{
}

.lineGraph	{
}

